In [1]:
import pandas as pd
import numpy as np

In [2]:
e=pd.Series()

/tmp/ipykernel_4081/2339862220.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  e=pd.Series()

In [3]:
type(e)

pandas.core.series.Series

In [4]:
df=pd.Series(['s','f',3,4])
df

0    s
1    f
2    3
3    4
dtype: object

In [5]:
type(df)

pandas.core.series.Series

In [10]:
l=["apple","banana","orange"]
s=pd.Series(l)
s

0     apple
1    banana
2    orange
dtype: object

In [11]:
type(s)

pandas.core.series.Series

In [48]:
s1=pd.Series(l,index=['a','b','c'])
s1

a     apple
b    banana
c    orange
dtype: object

In [14]:
a=np.array([1,2,3,4,5,6])
df1=pd.Series(a)
df1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [15]:
d={'a':1,'b':2,'c':3}
d

{'a': 1, 'b': 2, 'c': 3}

In [17]:
df2=pd.Series(d)
d

{'a': 1, 'b': 2, 'c': 3}

In [19]:
t=[('a', 1), ('b', 2), ('c', 3)]
t

[('a', 1), ('b', 2), ('c', 3)]

In [20]:
df3=pd.Series(t)
df3

0    (a, 1)
1    (b, 2)
2    (c, 3)
dtype: object

In [35]:
students={
    "Name": ["Hari","dsds","sdsds"],
    "occupation" :["Biologist","Student","Student"],
    "age": [25,20,18]
}
students

{'Name': ['Hari', 'dsds', 'sdsds'],
 'occupation': ['Biologist', 'Student', 'Student'],
 'age': [25, 20, 18]}

In [24]:
df4=pd.Series(students)
df4

Name                    [Hari, dsds, sdsds]
occupation    [Biologist, Student, Student]
age                            [25, 20, 18]
dtype: object

In [29]:
df4[0][0]

'Hari'

In [31]:
df5=pd.DataFrame(students)
df5

    Name occupation  age
0   Hari  Biologist   25
1   dsds    Student   20
2  sdsds    Student   18

In [39]:
ind=['p1','p2','p3']
col=['Name','Occupation','Age']

In [41]:
col

['Name', 'Occupation', 'Age']

In [42]:
df6 = pd.DataFrame(students,index=ind,columns=col)
df6

     Name Occupation  Age
p1   Hari        NaN  NaN
p2   dsds        NaN  NaN
p3  sdsds        NaN  NaN

In [46]:
df6 = pd.DataFrame.from_dict(students,index=ind,columns=col)
df6

TypeError: from_dict() got an unexpected keyword argument 'index'